h1{
    text-align: center;
    color: brown;
}
h3{
    text-align: center;
    color: red;
} 
 li {
    text-align: center;
    color: black;
}
p{
    text-align: center;
    font-size: 20px;
}
.image-container {

    text-align: center;
  
  }